#soundboard {
width: 1000px;
max-width: 100%;
}

.myButton {
	background-color: #F89915;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:17px;
	padding:7px 25px;
	margin: 3px;
}
.myButton:hover {
	background-color:#f18f18;
	transform: scale(1.1);
}
.myButton:active {
	position:relative;
	top:1px;
}
.btn-filter:focus, .btn-filter:active:focus, .btn-filter.active:focus{
    outline:none;
    box-shadow:none;
}
